
.clear {
  clear: both;
}

input,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box; /* ie8 only */
  box-sizing: border-box;
}

input[type=checkbox] {
  height: 16px;
  width: 16px;
  min-width: 16px;
}

/* general */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 13px;
  line-height: 1.4em;
  min-width: 600px;
}

img {
  border: 0;
}

td,
textarea,
input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

td,
textarea {
  line-height: inherit;
}

textarea {
  overflow: auto;
}

textarea,
input,
select {
  font-size: 14px;
  padding: 3px 5px;
  line-height: 15px;
  border-radius: 0; /* Reset mobile webkit's default element styling */
}

textarea {
  padding: 2px 6px;
  line-height: 1.4;
}

a,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea,
div,
select {
  outline: 0;
}

input[type="file"] {
  padding: 3px 0;
}

a:focus,
a:active {
  outline: thin dotted;
}

p {
  font-size: 13px;
  line-height: 1.5;
  margin: 1em 0;
}

li {
  margin-bottom: 6px;
}
input,
select {
  margin: 1px;
  padding: 3px 5px;
}

h2,
h3 {
  display: block;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
  margin: .83em 0;
  font-weight: 400;
}

h3 {
  font-size: 1.3em;
  margin: 1em 0;
}

h2.nav-tab-wrapper,
h3.nav-tab-wrapper {
  border-bottom-color: #ccc;
}

ul,
ol {
  padding: 0;
}

ul {
  list-style: none;
}

ol {
  list-style-type: decimal;
  margin-left: 2em;
}

code {
  font-family: Consolas, Monaco, monospace;
  direction: ltr;
  padding: 3px 5px 2px 5px;
  margin: 0 1px;
  font-size: 13px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="search"],
select,
.tablenav-pages span.current {
  border-width: 1px;
  border-style: solid;
}

/* .widefat - main style for tables */
.widefat {
  border-spacing: 0;
  width: 100%;
  clear: both;
  margin: 0;
}

.widefat * {
  word-wrap: break-word;
}

.widefat a {
  text-decoration: none;
}

.widefat td,
.widefat th {
  padding: 8px 10px;
}
.widefat tfoot th {
  border-bottom: none;
}

.widefat .no-items td {
  border-bottom-width: 0;
}

.widefat td {
  vertical-align: top;
}

.widefat td,
.widefat td p,
.widefat td ol,
.widefat td ul {
  font-size: 13px;
  line-height: 1.5em;
}

.widefat th {
  text-align: left;
  line-height: 1.3em;
  font-size: 14px;
}

.widefat th input {
  margin: 0 0 0 8px;
  padding: 0;
  vertical-align: text-top;
}

.widefat .check-column {
  width: 2.2em;
  padding: 6px 0 25px;
  vertical-align: top;
}

.widefat th input[type=checkbox] {
  margin-top: -1px;
}

.widefat tbody th.check-column {
  padding: 9px 0 22px;
}

.widefat.media .check-column {
  padding-top: 8px;
}

.widefat thead th.check-column,
.widefat tbody th.check-column,
.widefat tfoot th.check-column {
  padding: 11px 0 0 3px;
}

.widefat thead th.check-column {
  padding-top: 10px;
}

.widefat thead th {
  border-bottom: 1px solid #e1e1e1;
}

.widefat tfoot th {
  border-bottom: 0;
  border-top: 1px solid #e1e1e1;
}

.wrap {
  margin: 10px 20px 0 2px;
}

.wrap h2 {
  font-weight: normal;
  margin: 0;
  font-size: 23px;
  font-weight: 400;
  padding: 9px 15px 4px 0;
  line-height: 29px;
}

html {
  background-color: #ddd;
}

textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="search"],
select {
  background-color: #fff;
  color: #333;
}

select[disabled] {
  color: #7f7f7f;
}

select:focus {
  border-color: #aaa;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
select:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fafafa;
}

.tablenav .actions select {
  float: left;
  margin-right: 6px;
  max-width: 200px;
}

/* Bulk Actions */
.tablenav-pages a {
  font-weight: 600;
  margin-right: 1px;
  padding: 0 2px;
}
.tablenav-pages .current-page {
  padding: 1px 0 2px !important;
  text-align: center;
}
.tablenav-pages .next-page {
  margin-left: 2px;
}

.tablenav a.button-secondary {
  display: block;
  margin: 3px 8px 0 0;
}

.tablenav {
  clear: both;
  height: 30px;
  margin: 6px 0 4px;
  vertical-align: middle;
}

.tablenav.themes {
  max-width: 98%;
}

.tablenav .tablenav-pages {
  float: right;
  display: block;
  cursor: default;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.tablenav .no-pages,
.tablenav .one-page .pagination-links {
  display: none;
}

.tablenav .tablenav-pages a,
.tablenav-pages span.current  {
  text-decoration: none;
  padding: 3px 6px;
}

.tablenav .tablenav-pages a {
  padding: 0 10px 3px;
  font-size: 16px;
  font-weight: normal;
}

.tablenav .tablenav-pages a.disabled:hover ,
.tablenav .tablenav-pages a.disabled:active {
  cursor: default;
}

.tablenav .displaying-num {
  margin-right: 2px;
  font-size: 12px;
  font-style: italic;
}

.tablenav .actions {
  overflow: hidden;
  padding: 2px 8px 0 0;
}

.tablenav .delete {
  margin-right: 20px;
}

.alignleft {
  float: left;
}

.drag-drop #drag-drop-area {
  border: 4px dashed #bbb;
  height: 200px;
}

.drag-drop .drag-drop-inside {
  margin: 70px auto 0;
  width: 250px;
}

.drag-drop-inside p {
  color: #aaa;
  font-size: 14px;
  margin: 5px 0;
  display: none;
}

.drag-drop .drag-drop-inside p {
  text-align: center;
}

.drag-drop-inside p.drag-drop-info {
  font-size: 20px;
}

.drag-drop .drag-drop-inside p,
.drag-drop-inside p.drag-drop-buttons {
  display: block;
}

.drag-drop.drag-over #drag-drop-area {
  border-color: #83b4d8;
}

.nav-tab {
  border-style: solid;
  border-width: 1px 1px 0;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  padding: 4px 14px 6px;
  text-decoration: none;
  margin: -4px 4px -1px 0;
}

.nav-tab-active {
  border-width: 1px;
}

.nav-tab-active,
.nav-tab-active:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

h2.nav-tab-wrapper,
h3.nav-tab-wrapper {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 0;
  padding-left: 10px;
}

h2 .nav-tab {
  padding: 6px 10px;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}

/********************************************************/




.media-item .progress {
  float: right;
  height: 22px;
  margin: 7px 0 0;
  width: 200px;
  line-height: 2em;
  padding: 0;
  overflow: hidden;
  margin-bottom: 2px;
  border-radius: 22px;
  background: #ddd;
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}

.media-item .bar {
  z-index: 9;
  width: 0;
  height: 100%;
  margin-top: -22px;
  border-radius: 22px;
  background-color: #0074a2;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}

.media-item .progress .percent {
  z-index: 10;
  position: relative;
  width: 200px;
  padding: 0;
  color: #fff;
  text-align: center;
  line-height: 22px;
  font-weight: 400;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}


.media-item .error-div a.dismiss {
  display: block;
  float: right;
  margin: 5px 4px 0 15px;
}

/********************************************************/



/*  buttons  */
.button {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;

  color: #555;
  border-color: #cccccc;
  background: #f7f7f7;

  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08) !important;
  box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08) !important;

  vertical-align: top;
}

/* Remove the dotted border on :focus and the extra padding in Firefox */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border-width: 1px 0;
  border-style: solid none;
  border-color: transparent;
  padding: 0;
}

.button:active {
  outline: none;
}

input[type="reset"],
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus {
  background: none;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 2px 1px;
  width: auto;
}

p .button {
  vertical-align: baseline;
}

.button:hover,
.button:focus {
  background: #fafafa;
  border-color: #999;
  color: #222;
}

.button:focus {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2) !important;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2) !important;
}

.button:active {
  background: #eee;
  border-color: #999;
  color: #333;
  -webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 ) !important;
  box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 ) !important;
}

.button[disabled],
.button:disabled {
  color: #aaa !important;
  border-color: #ddd !important;
  -webkit-box-shadow: none !important;
  box-shadow:         none !important;
  text-shadow: 0 1px 0 #fff !important;
  cursor: default;
}

.button-primary {
  background: #2ea2cc;
  border-color: #0074a2;
  -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5), 0 1px 0 rgba(0,0,0,.15) !important;
  box-shadow: inset 0 1px 0 rgba(120,200,230,0.5), 0 1px 0 rgba(0,0,0,.15) !important;
  color: #fff;
  text-decoration: none;
}

.button-primary:hover,
.button-primary:focus {
  background: #1e8cbe;
  border-color: #0074a2;
  -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6) !important;
  box-shadow: inset 0 1px 0 rgba(120,200,230,0.6) !important;
  color: #fff;
}

.button-primary:focus {
  border-color: #0e3950;
  -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4) !important;
  box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4) !important;
}

.button-primary:active {
  background: #1e8cbe;
  border-color: #005684;
  color: rgba(255,255,255,0.95);
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1) !important;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.1) !important;
  vertical-align: top;
}

.button-primary[disabled],
.button-primary:disabled {
  color: #94cde7 !important;
  background: #298cba !important;
  border-color: #1b607f !important;
  -webkit-box-shadow: none !important;
  box-shadow:         none !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.1) !important;
  cursor: default;
}

/* colors */

body {
  color: #444;
}

code {
  background: #eaeaea;
  background: rgba(0,0,0,0.07);
}

textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="search"],
select {
  border-color: #ddd;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.07);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
select:focus {
  border-color: #999;
}

.alternate {
  background-color: #f9f9f9;
}

a:hover,
a:active {
  color: #2ea2cc;
}

a:focus {
  color: #124964;
}

a {
  color: #0074a2;
  -webkit-transition-property: border, background, color;
  -moz-transition-property:    border, background, color;
  transition-property:         border, background, color;
  -webkit-transition-duration: .05s;
  -moz-transition-duration:    .05s;
  transition-duration:         .05s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function:    ease-in-out;
  transition-timing-function:         ease-in-out;
}

.tablenav .tablenav-pages {
  color: #555;
}

.tablenav .tablenav-pages a {
  background: #eee;
  background: rgba( 0, 0, 0, 0.05 );
}

.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
  color: #fff;
  background: #2ea2cc;
}

.tablenav .tablenav-pages a.disabled,
.tablenav .tablenav-pages a.disabled:hover,
.tablenav .tablenav-pages a.disabled:focus {
  color: #aaa;
  background: #eee;
  background: rgba( 0, 0, 0, 0.05 );
}

.tablenav .tablenav-pages .current {
  background: #dfdfdf;
  border-color: #d3d3d3;
}

.nav-tab {
  color: #555;
  border-color: #ccc;
  background: #e4e4e4;
}

.nav-tab:hover {
  background-color: #fff;
  color: #464646;
}

.nav-tab-active {
  color: #464646;
}

.nav-tab-active,
.nav-tab-active:hover {
  color: #000;
  background: none;
  border-color: #ccc;
  border-bottom-color: #f1f1f1;
}

/* =common
==========================================================*/

.uploaded input[type="text"] {
  padding: 0;
}

.layout1  {
  padding: 10px 0 0;
  height: 30px;
}

.create-category  {
  float: left;
}

.login .widefat,
.widefat.search,
.create-category input[type="text"] {
  margin: 1px;
  padding: 3px 5px;
  width: 200px;
  line-height: 26px;
  height: 27px;
}

.msg {
  color: green;
  margin-left: 10px;
}

input[type="button"],
a {
	outline: none !important;
}

input[type="button"],
a:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

code {
  padding: 1px 5px 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}


/* =tabs
==========================================================*/

a.nav-tab:link,
a.nav-tab:focus  {
  border-bottom: 1px solid #ccc !important;
}

a.nav-tab.nav-tab-active  {
  border-bottom: 1px solid #F1F1F1 !important;
}

.av-tab-screen {
  display: none;
  position: relative;
  overflow: hidden;
}

.av-tab-screen.upload {
  display: block;
}


/* =uploads interface
==========================================================*/

#media-items {
	width: 100%;
}

.media-item {
	min-height: 20px !important;
	margin-bottom: 1px;
	border-bottom-width: 0 !important;
	position: relative;
	width: 100%;
	background: #ffffff;
	position: relative;
	border-left: 4px solid #BBBBBB;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.media-item.well {
	border-left-color: #7AD03A !important;
}

.media-item.bad {
	border-left-color: #DD3D36 !important;
}

.media-item .message {
	min-height: 26px;
	line-height: 26px;
	margin: 0 100px 0 8px;
}

.media-item .progress {
	height: 22px;
	margin: 2px 2px 2px 6px;
}

.media-item,
.media-item .progress,
.media-item .bar {
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.media-item a.dismiss {
	position: absolute;
	top: 3px;
	right: 10px;
}
.media-item .content-message {
	padding: 8px;
}


/* =notices
==========================================================*/

div.av-notice-well,
div.av-notice-bad {
	border-left: 4px solid #7ad03a;
	background-color: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	margin: 5px 0 15px;
}

div.av-notice-well p,
div.av-notice-bad p {
	padding: 7px 12px;
	margin: 0;
}

div.av-notice-bad {
	border-left-color: #DD3D36;
}


/* =UPLOADED TAB
==========================================================*/

.wrap .shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  vertical-align: bottom;
}

.wrap .shadow span {
  display: inline-block;
  padding: 15px 15px 10px;
  background: #ffffff;
  margin-top: 48px;
  border-radius: 45px;
  -webkit-box-shadow: 0 0 12px 0 #555555;
  -moz-box-shadow: 0 0 12px 0 #555555;
  box-shadow: 0 0 12px 0 #555555;
}

.rename-action {
  visibility: hidden;
}

.rename-bad,
.edit-action {
  margin-left: 6px;
}

.edit-action-disabled:hover {
  text-decoration: none !important;
  color: #0074a2;
  cursor: default;
}

.rename-bad{
  color: red;
}

.td_name:hover .rename-action {
  visibility: visible;
}

.rename-action,
.save-rename-action {
  margin-left: 10px;
}

.field-edit-action,
.save-rename-action {
  display: none;
}

.rename-row .field-edit-action,
.rename-row .save-rename-action {
  display: inline;
}

.rename-row-bad .edit-action,
.rename-row .edit-action,
.rename-row .rename-action {
  display: none;
}

.rename-row-bad .rename-action {
  visibility: visible;
}

.td_name a:hover {
  text-decoration: underline;
}

.permission.no {
  color: red !important;
}

.list-table {
  border-collapse: separate;
  border-spacing: 0;
  background: #fff;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.list-table tr th {
  color: #333;
  font-weight: 400;
}

.list-table td,
.list-table th {
  margin: 0 !important;
  padding: 4px 8px !important;
  vertical-align: middle !important;
}

.list-table th {
  white-space: nowrap;
}

.list-table th.column-cb {
  padding-top: 6px !important;
  position: relative;
}

.list-table .check-column input[type="checkbox"] {
  padding: 0 !important;
  margin: 0 !important;
}


.list-table .delete,
.list-table .permission {
  line-height: 23px;
  height: 25px;
  padding: 0 7px 1px;
  color: #555555;
}

.list-table .delete.loading-button,
.list-table .permission.loading-button {
  background-image: url("loader.gif");
  background-position: left -3px;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.08);
  box-shadow: 0 1px 0 rgba(0,0,0,.08);
  border-color: #999999;
  color: #ffffff !important;
}

.list-table input[type="text"] {
  padding: 2px 4px 3px;
  font-size: 13px;
}

.list-table .thumb {
  font-size: 0;
  display: inline;
  position: relative;
  bottom: -3px;
}

/*.column-perm_down {*/
  /*width: 110px;*/
  /*min-width: 110px;*/
/*}*/
/*.column-td_delete {*/
  /*width: 95px;*/
  /*min-width: 95px;*/
/*}*/

.column-shortcode {
  width: 110px;
  min-width: 110px;
}

.column-shortcode input {
  width: 112px;
}

.column-td_name {
  width: 100%;
}

.spinner-small {
  position: relative;
  top: 2px;
  left: 4px;
}

.td_name .spinner-small {
  top: 4px;
  left: 6px;
}

.column-cat_sizes,
.column-cat_files,
.column-td_cats,
.column-count_down {
  text-align: center !important;
  white-space: nowrap;
}

.column-td_size {
  text-align: right !important;
  white-space: nowrap;
}

th.manage-column img {
  position: relative;
  top: 2px;
}

/* drop down select categories */
#from-category {
  margin: 0 4px 0 16px !important;
}

#to-category,
#categories-filter {
  margin: 0 8px 0 0 !important;
}

#to-category {
  margin-right: 4px !important;
}

#cat {
  float: none;
}

/* buttons categories */
.av-categories-ul {
  margin: 10px 0 0;
}

.av-categories-ul li {
  display: inline-block;
  text-transform: uppercase;
  background: none;
  /*padding: 3px 5px;*/
  margin: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-transform: none;
}

/* AREA EDIT TEMPLATE 1 */
.area-edit {
  -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.15) !important;
  box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.15) !important;
}

/* AREA EDIT TEMPLATE 2

Шаблон вёрстки
<tr class="area-edit-row" style="display:none">
  <td colspan="10">
    <div class="left-shadow"></div>
    <div class="area-edit">area <br>editarea <br>editarea <br>editarea <br>edit</div>
    <div class="right-shadow"></div>
  </td>
</tr>

Шаблон стилей
.target-edit td,
.target-edit th{
  background:#f4f4F6;
  border-bottom:1px solid #E0E0E0;
}

.target-edit .check-column {
  box-shadow: inset 6px 6px 6px -6px hsla(0,0%,0%,.15);
}

.target-edit .column-count_down,
.target-edit .column-perm_down,
.target-edit .column-shortcode,
.target-edit .column-td_name {
  box-shadow: inset 0px 6px 6px -6px hsla(0,0%,0%,.15)
}

.target-edit .column-td_delete {
  box-shadow: inset -6px 6px 6px -6px hsla(0,0%,0%,.15)
}

.area-edit-row td {
  padding: 0 !important;
  position: relative;
  box-shadow: inset 0px -6px 6px -6px hsla(0,0%,0%,.15);
}

.left-shadow,
.right-shadow {
  margin: 0;
  padding: 0;
  width: 6px;
  height: 100%;
  position: absolute;
  top: 0;
}

.left-shadow {
  left: 0;
  box-shadow: inset 6px 0px 6px -6px hsla(0,0%,0%,.15);
}

.right-shadow {
  right: 0;
  box-shadow: inset -6px 0px 6px -6px hsla(0,0%,0%,.15);
}

.area-edit {
  margin: 6px;
}
*/


/* =SETTINGS TAB
==========================================================*/

.settings input[type="number"],
.settings input[type="text"],
.settings textarea {
  font-family: Consolas, "Courer New";
  font-size: 13px;
  line-height: 1.4em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.label-header {
  display: block;
}

.settings-error {
  color: red;
}


/* =SELECTABLE
==========================================================*/

.ui-selectable-helper {
  display: none;
}

.ui-selecting th,
.ui-selected th,
.ui-selecting td,
.ui-selected td {
  background: #f2f2f6;
  background: #eee;
}

tr td:last-child {
  padding-right: 0 !important;
  border-right: 3px solid transparent;
}


/***********************************************************/

.login .widefat {
  width: 150px;
}

.logout,
.login {
  float: right;
}

h3 {
  float: left;
  margin: 6px 0 0 6px;
}

header {
  margin: 0 0 1em;
  height: 29px;
  vertical-align: middle;
}

.wrap {
  width: 1000px;
  margin: 40px auto 20px;
  padding: 10px;
  box-shadow: 0 0 12px #999999;
  border-radius: 5px;
  background: #f1f1f1;
}

.search-box {
  margin: 0px;
  text-align: right;
}

.tablenav .actions {
  padding: 2px 0 0 0;
}

.err-login {
  color: red;
}

.widefat.search {
  width: 150px;
}

.description {
  text-indent: 1.5em;
}